body {
    font-family: "Lato", sans-serif;
    /*background-image: url("code-bg-white.jpg");*/
    color: rgb(26, 26, 58);
    margin:0;
}

/*#home-bg {
    background: black;
}*/
.page-header {
    background-image: url("code-bg.jpg");
    
    background-size: cover;
    margin: 0;
    padding: 10vh;
}

#header-img {
    max-width: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*h1, .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh;
}*/

h1 {
    margin: 0;
}

button {
    color: red;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
a:hover, a:active {
    background-color: blue;
}

.back-button {
    background-color: yellow;
    margin-top: 10vh;
}

.back-button a {
    background-color: none;
}

