body, html{
    font-family: "Lato", sans-serif;
    color: rgb(26, 26, 58);
    color: rgb(84, 84, 87);
    margin:0;
    height: 100%;
}

/* Same style for nav and footer */
.page-navbar, .page-footer {
    background-color: rgb(2, 2, 32);
    padding: 2% 0;
    color: white;
    font-variant: small-caps;
}

/* Specifying alignment of nav and footer content */
.page-navbar {
    text-align: right;
}
.page-footer {
    text-align: center;
}
.page-navbar a, .page-footer a {
    text-decoration: none;
    padding: 0 2%;
}
.page-navbar li {
    display: inline;
    padding: 0 1%;
}

/* Header */
.page-header, .page-header-home {
    background-image: url("code-bg.jpg");
    margin: 0;

    /* The parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header-home {
    height: 100%;
}
#header-img {
/* FIGURE OUT HOW TO CENTRE IT!!!!!!!!! */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    /*max-width: 35vh;*/
    width: 50%;
    height: auto;
    margin-right: 0;
    object-fit: contain;
}

.page-content {
    margin: 0;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    
    
}

p {
    margin: 0;
}







/*h1, .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh;
}

h1 {
    margin: 0;
}

button {
    color: red;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
a:hover, a:active {
    background-color: blue;
}

.back-button {
    background-color: yellow;
    margin-top: 10vh;
}

.back-button a {
    background-color: none;
}

